<html>
<head>
<title>activity_home.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_home.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/activity_home&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;#009688&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.example.reflex_gravity.myappsec.HomeActivity&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;EditText 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;44dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:inputType=</span><span class="s2">&quot;textPersonName&quot;</span><span class="s0"> 
        </span><span class="s1">android:ems=</span><span class="s2">&quot;20&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/idtxt&quot;</span><span class="s0"> 
        </span><span class="s1">tools:text=</span><span class="s2">&quot;Email ID&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/border&quot;</span><span class="s0"> 
        </span><span class="s1">android:maxLines=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;LabelFor,MissingConstraints,RtlSymmetry&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;24sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toRightOf=</span><span class="s2">&quot;@+id/textView3&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;64dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s2">&quot;0.58&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s2">&quot;@+id/logo&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;EditText 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;44dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:inputType=</span><span class="s2">&quot;textPassword&quot;</span><span class="s0"> 
        </span><span class="s1">android:ems=</span><span class="s2">&quot;10&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/pwdtxt&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/border&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;LabelFor,MissingConstraints&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;24sp&quot;</span><span class="s0"> 
        </span><span class="s1">tools:text=</span><span class="s2">&quot;ffffff&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;24dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s2">&quot;@+id/idtxt&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toRightOf=</span><span class="s2">&quot;@+id/textView4&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintBottom_toTopOf=</span><span class="s2">&quot;@+id/loginbtn&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s2">&quot;0.29&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s2">&quot;0.04000002&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;121dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/webster&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/background_light&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/logo&quot;</span><span class="s0"> 
        </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;100sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:shadowColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;MissingConstraints&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s2">&quot;0.13&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Title&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;Button 
        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/login&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/background_light&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/loginbtn&quot;</span><span class="s0"> 
        </span><span class="s1">android:fontFamily=</span><span class="s2">&quot;sans-serif&quot;</span><span class="s0"> 
        </span><span class="s1">android:onClick=</span><span class="s2">&quot;login&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;#00796B&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;36sp&quot;</span><span class="s0"> 
        </span><span class="s1">tools:fontFamily=</span><span class="s2">&quot;sans-serif-smallcaps&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;MissingConstraints&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;32dp&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/no_account_then_sign_up_from_here&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;299dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;34dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;18sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView2&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
        </span><span class="s1">android:onClick=</span><span class="s2">&quot;register&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
        </span><span class="s1">tools:layout_constraintLeft_creator=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintBottom_toTopOf=</span><span class="s2">&quot;@+id/loginbtn&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s2">&quot;@+id/pwdtxt&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/email&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;21dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView3&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;MissingConstraints&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;72dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s2">&quot;@+id/logo&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s2">&quot;parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;39dp&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/pwd&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;39dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;25dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView4&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/white&quot;</span><span class="s0"> 
        </span><span class="s1">tools:ignore=</span><span class="s2">&quot;HardcodedText,MissingConstraints&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;56dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s2">&quot;@+id/textView3&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s2">&quot;parent&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
 
</span><span class="s0">&lt;/android.support.constraint.ConstraintLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>